.homepage {
  padding: 20px;
  font-family: 'Noto Sans Devanagari', sans-serif;
  /* background: #fdf5e6; */
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 40px;
  gap: 67px;
}

.profile-section {
  display: flex;
  gap: 40px;
}

.profile-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.profile-block-kakaji {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10px;
  left: -60px;
}

.profile-block-bhaiyaa{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -271px;
  right: 1241px;
}

.profile-block img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}
.profile-block-kakaji img {
  border-radius: 50%;
  padding: 10px;
}

.profile-block-kakaji img {
  width: 420px;
  height: auto;
}
.profile-block-bhaiyaa img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}

.profile-caption {
  margin-top: -20px;
  background-color: #0d3b66;
  color: white;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 12px;
  font-weight: 500;
  text-align: center;
  max-width: 220px;
  line-height: 1.5;
}

.hero-quote {
  font-size: 28px;
  font-weight: bold;
  color: #3F2B17;
  text-align: center;

}

.middle-section {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.content-left {
  max-width: 55%;
}

.hero-title {
  font-size: 42px;
  color: #502D18;
  margin-bottom: 10px;
  font-weight: bold;
  position: relative;
  left: 277px;
}

.hero-subtitle {
  font-size: 26px;
  color: rgba(108, 64, 42, 0.8);
  margin-bottom: 24px;
  position: relative;
  left: -99px;
  text-align: end;
}

.profile-block-kakaji {
  margin-top: -50px;
}

.bottom-section {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bottom-section .profile-section {
  flex-shrink: 0;
}

.hero-description {
  font-size: 18px;
  line-height: 1.8;
  color: #4a4a4a;
text-align: end;
max-width: 80%;
position: relative;
left: 130px;
bottom: -7px;

}
