
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  background: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding-left: 0;
}

.nav-links li a {
  text-decoration: none;
  color: rgba(108, 64, 42, 0.8);
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.nav-links li a:hover {
  color: white;
}

#langButton {
  border: 2px solid #502D18;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.3rem 0.7rem;
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  font-weight: 500;
  color: rgba(108, 64, 42, 0.8);
  transition: background-color 0.2s ease-in-out;
}

#langButton:hover {
  background-color: rgba(80, 45, 24, 0.1);
}

#langButton .btn-icon {
  width: 20px;
  height: 20px;
}
