/* App.css */

body, html, #root {
  height: 100%;
  margin: 0;
}

.app-background {
  background-image: url('/images/background.png');
}

@media (max-width: 480px) {
  .app-background {
  width: 469px;
  }
}

*{
  font-family: 'Tiro Devanagari Marathi', serif;
}