body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3b2f2f;
    background-image: url(images/background.png);
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
  }